body {
    font-family: monospace;
}

input[type="text"] {
    background-color: transparent;
    border: none;
    outline: none;

    font-family: monospace;
    font-size: 20px;
}

.cushion {
    height: 2%;
    width: 10%;
}

.cushion.small {
    width: 5%;
}

.settings {
    position: absolute;
    left: 1%;
    
    width: 90%;

    display: flex;
    flex-direction: row;
}

.settings label, .settings input { height:50%; font-size: 15px;}

.settings.solver { 
    top: 1%;
    align-items: center;
    justify-content: left;

    height: 7%;
    width: 98%;
}
.settings.editor { bottom: 5%; }

.editor-window, .soln-window {
    position: absolute;
    top: 10%;

    font-size: 20px;

    height: 84%;
}

.editor-window {
    width: 60%;

    outline: none;

    left: 1%;
}

.soln-window {
    left: 63%;

    width: 36%;
}

.cli {
    display: flex;
    flex-direction: row;
}

i {
    color: #859900;
}

.cursor {
    color: #cb4b16;
}

#cmd {
    width: 50%;
    outline: none;
    color: #93a1a1;
}

.highlight-me, .editor-window, .soln-window, .settings.solver {
    border-radius: 15px;
}

#nexsys-logo {
    height: 55px;
    width: 150px;
}